[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "<5.0,>=4.2"
django-honeypot = "~=1.2.0"

[dev-packages]
coverage = "~=7.3.0"
tox = "~=4.20.0"
textile = "~=4.0.0"
sphinx-rtd-theme = "~=2.0.0"
Sphinx = "~=7.4.0"
black = "~=24.8.0"
